# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
output
build/

# VScode Files
.vscode
.vs/

# CMake Files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Python Files
*.pyc
*.pyo
__pycache__/
venv/
pyenv/

# Doxygen Files
doc/
html/
latex/

# Log files
*.log